{
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "./src"
        ],
        "extensions": [
          ".ts",
          ".tsx",
          ".native.js",
          ".js"
        ]
      }
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "no-param-reassign": 0,
    "spaced-comment": 0
  }
}